$grid-size: 1.5rem;

.canvas {
  width: 100%;
  height: 100%;

  background-image:
    linear-gradient(0turn, transparent calc(100% - 1px), #888 calc(100% - 1px)),
    linear-gradient(
      0.25turn,
      transparent calc(100% - 1px),
      #888 calc(100% - 1px)
    );
  background-size: $grid-size $grid-size;
  background-repeat: repeat;
  background-position: 0 0;

  position: relative;
}
