.node {
  position: absolute;
  border-radius: 0.5rem;
  border: 1px solid #8000ee;
  background: #2b2b2b;
  transition: transform 0.25s;
  anchor-scope: --menu-popover;
}

.header {
  display: flex;
}

.title {
  flex: 1 1 0;
  padding-inline: 1ch;
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
}

.menu_popover_button {
  anchor-name: --menu-popover;
}

.menu_popover_contents {
  position-anchor: --menu-popover;
  position-area: bottom;
}

.handle {
  padding: 0.125rem;
  cursor: move;
  line-height: 1;
  .handle_icon {
    vertical-align: top;
  }

  transition: opacity 0.25s;
  opacity: 0;
  .node:hover & {
    opacity: 1;
  }
}

.body {
  // TODO
}
