@use "constants";

.node {
  position: absolute;
  border: 1px solid #8000ee;
  background: #2b2b2bf8;
  anchor-scope: --menu-popover;
}

%only-hover-on-node {
  transition: opacity 0.25s;
  opacity: 0;
  .node:hover & {
    opacity: 1;
  }
}

.header {
  display: flex;
  height: constants.$grid-size;
  background: #222;
}

.action_name {
  flex: 1 1 0;
  padding-inline: 1ch;
  font-size: 1rem;
  line-height: constants.$grid-size;
}

.menu_popover_button {
  @extend %only-hover-on-node;
  padding: 0.125rem;
  anchor-name: --menu-popover;
  border: none;
  vertical-align: top;
}

.menu_popover_contents {
  position-anchor: --menu-popover;
  position-area: bottom;
}

.handle {
  @extend %only-hover-on-node;
  padding: 0.125rem;
  cursor: move;
  line-height: 1;
}

.body {
  display: flex;
  justify-content: space-between;
  margin-block: constants.$grid-size * 0.5;
}

.input {
  flex: 1 1 0;
  > .port {
    position: relative;
    padding-left: 8px;
    height: constants.$grid-size;
    > .port_circle {
      left: calc(-1 * constants.$port-size / 2 - 1px);
    }
  }
}

.output {
  flex: 1 1 0;
  text-align: right;
  > .port {
    padding-right: 8px;
    > .port_circle {
      right: calc(-1 * constants.$port-size / 2 - 1px);
    }
  }
}

.port {
  position: relative;
  height: constants.$grid-size;
}

.port_circle {
  position: absolute;
  top: 50%;
  translate: 0 -50%;

  display: block;
  width: constants.$port-size;
  height: constants.$port-size;
  border-radius: 50%;

  background-color: #8000ee;
}

.port_type {
  color: brown;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.port_name {
  font-size: 0.875rem;
  line-height: 1rem;
}
