.node {
  position: absolute;
  border-radius: 0.5rem;
  border: 1px solid #8000ee;
  background: #2b2b2b;
  anchor-scope: --menu-popover;
}

.header {
  display: flex;
}

.action_name {
  flex: 1 1 0;
  padding-inline: 1ch;
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
}

.menu_popover_button {
  anchor-name: --menu-popover;
}

.menu_popover_contents {
  position-anchor: --menu-popover;
  position-area: bottom;
}

.handle {
  padding: 0.125rem;
  cursor: move;
  line-height: 1;
  .handle_icon {
    vertical-align: top;
  }

  transition: opacity 0.25s;
  opacity: 0;
  .node:hover & {
    opacity: 1;
  }
}

.body {
  display: flex;
  justify-content: space-between;
}

@mixin portCircle($size) {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
}

$port-size: 12px;

.input {
  flex: 1 1 0;
}

.input_item {
  position: relative;
  padding-left: 8px;
  .input_item_port {
    @include portCircle($port-size);
    position: absolute;
    top: calc(50% - $port-size / 2);
    left: calc(-1 * $port-size / 2);
    background-color: #8000ee;
  }
}

.output {
  flex: 1 1 0;
  text-align: right;
}

.output_item {
  position: relative;
  padding-right: 8px;
  .output_item_port {
    @include portCircle($port-size);
    position: absolute;
    top: calc(50% - $port-size / 2);
    right: calc(-1 * $port-size / 2);
    background-color: #8000ee;
  }
}

.item_type {
  color: brown;
  font-size: 0.75rem;
}

.item_name {
  font-size: 0.875rem;
}
